body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ffe4c4, #fff8dc);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #444;
}

.container {
    width: 100%;
    max-width: 700px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -80px;
}

h1 {
    font-size: 2.2rem;
    margin-bottom: 30px;
    color: #d2691e;
}

.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

input[type="text"] {
    width: 80%;
    padding: 15px;
    font-size: 1rem;
    border-radius: 25px;
    border: 2px solid #f4a460;
    outline: none;
    transition: 0.2s;
}

input[type="text"]:focus {
    border-color: #d2691e;
    box-shadow: 0 0 8px rgba(210, 105, 30, 0.4);
}

.submit-btn {
    margin-left: 10px;
    padding: 15px 15px;
    border-radius: 25px;
    border: none;
    background-color: #d2691e;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    display: none;
}

.submit-btn:hover {
    opacity: 0.85;
}

.btnHeader {
    background: #fff5ee;
    border: 2px solid #f4a460;
    padding: 10px 18px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.2s;
    color: #d2691e;
}
.btnHeader:hover {
    background: #ffe4c4;
    transform: translateY(-2px);
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}
.btn-highlight {
    background: #d2691e;
    color: white;
    border-color: #d2691e;
}
.btn-highlight:hover {
    background: #b75c1a;
}

.logo {
    font-size:1.5rem;
    font-weight:bold;
    color:#d2691e;
}

header, footer{
    position: absolute;
}